/* ! Reset CSS !*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ? End Reset Css */
/* Font Face */

@font-face {
    font-family: "Raleway";
    src: url("../font/Raleway-VariableFont_wght.ttf") format("truetype");
   }

   @font-face {
    font-family: "Raleway_2";
    src: url("../font/Raleway-Bold.ttf") format("truetype");
   }

/* Général */

body {
    font-family: "Raleway", serif;
	margin:  0% 2.5%;
}

/* Introduction */
h1{
	font-family: "Raleway_2", serif;
	padding: 10px 0px;
	font-size: 20px;
	font-weight: 700;
}

.intro {
	margin-top: 80px;
}

.intro p {
	font-size: 16px;
	font-weight: 500;
}

/* Formulaire recherche de ville */

.form_recherche{
	width: 380px;
	height: 40px;
	overflow: hidden;
	background-color: #F2F2F2;
	border: 1px solid #F2F2F2;
	border-radius: 10px;
	margin-top: 20px;
}

.form_recherche i{
	position: relative;
	font-size: 18px;

	height: 40px;
	margin-left: 16px;
	margin-right: 14px;
}

.input_recherche
{
	position: relative;
	width: 210px;
	height: 20px;
	border: 0;
	margin: 0;
	padding: 10px 0px 10px 20px;
	font-family: "Raleway_2", serif;
	color : black;
	outline-width: 0;
}

.input_recherche::placeholder
{
	font-family: "Raleway_2", serif;
	font-size: 16px;
	color : black;
}

.btn_recherche
{
	display: block;
	position: relative;
	float: right;
	width: 102px;
	height: 40px;
	font-size: 16px;
	color: white;
	background-color: #0065FC;
	border:0;
	outline-width: 0;
}

form button:active {
	border:0px;
	text-decoration: none;
}

/* Filtres de la recherche */

.filtre{
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

.filtre h2 {
	padding: 10px 20px 10px 0px;
	font-family: "Raleway_2", serif;
	font-size: 18px;
	font-weight: 600;
}

.form_filtre {
    display: flex;
    flex-direction: row;
	width: 100%;
	height: 40px;
}

.form_filtre div{
	display: flex;
	width: 180px;
	height: 40px;
	overflow: hidden;
	background-color: white;
	border: 1px solid #F2F2F2;
	border-radius: 30px;
	margin: 0px 15px;
}

.form_filtre .icon_filtre {
	position: relative;
	background-color: #F2F2F2;
	width: 40px;
	height: 40px;
	border-radius: 30px;
	border: 1px solid #F2F2F2;
	align-content: center;
	align-self: center;
	align-items: center;
	margin: 0;
}

.form_filtre .icon_filtre i{
	position: absolute;
	color: #0065FC;
	width: 40px;
	text-align: center;
}

.form_filtre div button{
	position: relative;
	width: 140px;
	height: 40px;
	background-color: white;
	border: none;
	text-align: center;
	margin: 0;
	outline-width: 0;
}

/* Information */

.information_recherche{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.information_recherche i{
	background-color: white;
	color: #0065FC;
	font-size: 14px;
	border-radius: 30px;
	border: 1px solid #F2F2F2;
	text-align: center;
	padding: 5px 10px;
}

.information_recherche p{
	display: flex;
	font-size: 12px;
	margin-left: 10px;
	align-items: center;
}

