/* ! Reset CSS !*/

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
i,
ul,
li,
form,
label,
aside,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

aside,
footer,
header,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

/* ? End Reset Css */
/* Font Face */

@font-face {
  font-family: "Raleway";
  src: url("../font/Raleway-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway_2";
  src: url("../font/Raleway-Bold.ttf") format("truetype");
}

/* Général */

body,
p {
  font-family: "Raleway", serif;
}

.page {
  margin: 0% 2.5%;
}

/* Header (NavBar) */

.topbar {
  display: flex;
  flex-direction: row;
  top: 0;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 1000;
}

.logo_header {
  width: 20%;
}
.logo {
  height: 50px;
  margin: 15px 15px 15px 0px;
}

nav {
  display: flex;
  justify-content: flex-end;

  width: 80%;
  margin-right: 5%;
}
nav ul {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  align-items: center;
}
nav li {
  padding: 29px 20px;
  color: black;
  font-size: 20px;
  border-top: 3px solid transparent;
}

.page_active { 
  color: #0065fc;
  border-top: 3px solid #0065fc;
}

.page_active a{ 
  color: #0065fc;
}

.nav_inscrire {
  color: #0065fc;
  font-family: "Raleway_2", serif;
}

nav a {
  text-decoration: none;
}
nav a:visited {
  color: inherit;
}

li:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
  cursor: pointer;
}

li:hover a{
  color: #0065fc;
}

/* Introduction */
h2 {
  font-family: "Raleway_2", serif;
  padding: 10px 0px;
  font-size: 20px;
}

.intro {
  margin-top: 80px;
}

.intro p {
  font-size: 16px;
  font-weight: 500;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}
/* Formulaire recherche de ville */

.form_recherche {
  width: 380px;
  height: 40px;
  overflow: hidden;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  margin-top: 20px;
}

.form_recherche i {
  position: relative;
  font-size: 18px;

  height: 40px;
  margin-left: 16px;
  margin-right: 14px;
}

.input_recherche {
  position: relative;
  width: 210px;
  height: 20px;
  border: 0;
  margin: 0;
  padding: 10px 0px 10px 20px;
  font-family: "Raleway_2", serif;
  color: black;
  outline-width: 0;
  font-size: 16px;
}

.input_recherche::placeholder {
  font-family: "Raleway_2", serif;
  font-size: 16px;
  color: black;
}

.btn_recherche {
  display: block;
  position: relative;
  float: right;
  width: 102px;
  height: 40px;
  font-size: 16px;
  color: white;
  background-color: #0065fc;
  border: 0;
  outline-width: 0;
}

button {
  font-family: "Raleway_2", serif;
  font-size: 14px;
}

form button:active {
  border: 0px;
  text-decoration: none;
}

/* Filtres de la recherche */

.filtre {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.filtre h3 {
  padding: 10px 20px 10px 0px;
  font-family: "Raleway_2", serif;
  font-size: 20px;
}

.div_filtre {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
}

.div_filtre div {
  display: flex;
  height: 40px;
  overflow: hidden;
  background-color: white;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  margin: 0px 15px;
}

.contenu_filtre:hover {
  background-color: white;
  border: 2px solid #0065fc;
}

.div_filtre .icon_filtre {
  position: relative;
  background-color: #deebff;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  align-self: center;
  align-items: center;
  margin: 0;
}

.div_filtre .icon_filtre i {
  position: absolute;
  color: #0065fc;
  width: 40px;
  text-align: center;
}

.div_filtre div button {
  position: relative;
  height: 40px;
  background-color: white;
  border: none;
  padding: 1px 10px;
  margin: 0;
  outline-width: 0;
}

.fa-search {
  display: none;
}

/* Information */

.information_recherche {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.information_recherche i {
  background-color: white;
  color: #0065fc;
  font-size: 14px;
  border-radius: 30px;
  border: 1px solid #f2f2f2;
  text-align: center;
  padding: 5px 10px;
}

.information_recherche p {
  display: flex;
  font-size: 12px;
  margin-left: 10px;
  align-items: center;
}

/* Section Résultats */

.resultat {
  display: flex;
}

h4 {
  font-family: "Raleway_2", serif;
  font-size: 24px;
  padding: 25px 0 25px 40px;
}

.gras {
  font-family: "Raleway_2", serif;
}

.prix {
  padding-left: 5px;
}

.avis {
  font-size: 14px;
  color: #0065fc;
}

.avis i {
  margin: 0% -0.5%;
}

.avis .gris {
  color: #f2f2f2;
}

/* Partie Hébergements et Populaires */

.hebergement,
.populaire {
  background-color: #f2f2f2;
  border-radius: 20px;
}

.heb_titre,
.pop_titre {
  font-size: 18px;
}

.heb_carte:hover,
.pop_carte:hover {
  box-shadow: 0 3px 10px 1px #7e7e7e;
  transition: 300ms;
}

/* Partie Hébergements */

.hebergement {
  width: 75%;
  margin: 1% 0% 1% 0%;
}

#hebergement:target {
  padding-top: 160px;
  margin-top: -160px;
}

.heb_grille {
  display: grid;

  justify-items: center;
  grid-gap: 3% 2%;
  grid-template-columns: repeat(3, minmax(100px, 33.3%));
  height: 85%;
}

.heb_carte {
  width: 95%;
  height: 95%;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}

.hebergement .image {
  width: calc(100% - 10px);
  height: 250px;
  border-radius: 10px 10px 10px 10px;
  margin: 5px;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  top: -40px;
}

.heb_description_carte {
  background-color: white;
  display: block;
  position: relative;
  top: -50px;
  padding: 3% 0 0 5%;
}

.heb_description_nuit {
  display: flex;
  flex-direction: row;
  padding: 10px 0%;
}

.affiche_plus {
  padding: 5px 40px;
}

/* Partie Populaire */

.populaire {
  width: 25%;
  margin: 1% 1% 1% 3%;
}

.pop_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 40px;
}

.pop_div i {
  padding: 25px 0;
  font-size: 22px;
}

.populaire img {
  width: 200px;
  padding: 5px;
  border-radius: 15px 0px 0px 15px;
  z-index: 0;
  object-fit: cover;
}

.pop_grille {
  display: grid;
  justify-items: center;
  grid-gap: 5% 0%;
  grid-template-columns: repeat(1, minmax(100px, 100%));
}

.pop_carte {
  width: 90%;
  height: 200px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.pop_carte a {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.pop_description_carte {
  background-color: white;
  display: block;
  position: relative;
  padding: 3% 0% 0% 5%;
  margin-left: -5%;
  width: 100%;
}

.pop_titre {
  height: 40%;
}

.pop_description_nuit {
  display: flex;
  flex-direction: row;
  height: 40%;
}

.pop_avis {
  height: 10%;
}

/* Partie Activités */
.activites {
  padding-top: 0;
}

#activites:target {
  padding-top: 80px;
  margin-top: -80px;
}

.activites h4 {
  padding: 25px 0 5px 0px;
}
.activites h4 {
  padding: 25px 0 5px 0px;
}
.activites_grid {
  display: grid;
  grid-gap: 0 2%;
  grid-template-columns: repeat(4, minmax(100px, 25%));
  padding: 20px 1% 10px 0px;
  justify-items: center;
}

.image_2_hauteur,
.image_1_hauteur {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin: 0px;
}

.image_1_hauteur,
.image_2_hauteur {
  box-shadow: 0 3px 10px 1px #7e7e7e;
}

.image_1_hauteur {
  height: 235px;
  margin-bottom: 28px;
}

.image_2_hauteur {
  height: 500px;
}

.image_1_hauteur img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  top: -35px;
}

.image_2_hauteur img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  top: -45px;
}
.desc_activites {
  width: 100%;
  height: 40px;
  background-color: white;
  display: block;
  position: relative;
  padding: 15px 20px;
}

.desc_activites {
  top: -55px;
}

/* Footer */
footer {
  display: grid;

  justify-items: center;
  grid-gap: 0;
  grid-template-columns: repeat(3, minmax(100px, 33.3%));
  padding: 40px 0px;
  background-color: #f2f2f2;
}

footer div {
  display: flex;
  flex-direction: column;
}

footer a {
  text-decoration: none;
  color: black;
  padding-top: 15px;
}

.footer_titre {
  padding-bottom: 15px;
  font-size: 18px;
  text-align: center;
}

/* Responsive */

/* 2k devices (larger desktop,2000px)*/
@media (min-width: 2000px) {
  /* Activites */

  .image_2_hauteur {
    height: 600px;
  }

  .image_1_hauteur {
    height: 280px;
    margin-bottom: 38px;
  }
}

/* XX-Large devices (large+ desktop, 1500px to 1900px)*/

@media (min-width: 1500px) and (max-width: 1900px) {
  .pop_description_nuit {
    display: block;
  }
  .pop_description_nuit .prix {
    padding-left: 0;
  }
}

/* XX-Large devices (large desktop, 1300px to 1500px)*/
@media (min-width: 1300px) and (max-width: 1500px) {
  nav {
    margin-right: 0%;
  }

  .resultat {
    flex-direction: column-reverse;
  }

  .hebergement {
    width: 100%;
    padding-bottom: 2%;
  }

  .heb_carte {
    height: 90%;
  }

  .hebergement .affiche_plus {
    padding-top: 2%;
  }

  .populaire {
    width: 100%;
    margin: 1% 0%;
    padding-bottom: 2%;
  }

  .pop_grille {
    grid-template-columns: repeat(3, minmax(100px, 33.3%));
  }

  .pop_carte {
    height: 180px;
  }
}

/* Large devices (desktop, 1000px to 1300px)*/
@media (min-width: 1000px) and (max-width: 1300px) {
  nav {
    margin-right: 0%;
  }

  .resultat {
    flex-direction: column-reverse;
  }

  .hebergement {
    width: 100%;
    padding-bottom: 2%;
  }

  .heb_carte {
    height: 90%;
  }

  .hebergement .affiche_plus {
    padding-top: 2%;
  }

  .populaire {
    width: 100%;
    margin: 1% 0%;
    padding-bottom: 4%;
  }

  .pop_grille {
    grid-template-columns: repeat(2, minmax(100px, 50%));
  }

  .pop_carte {
    height: 180px;
  }
}

/* Medium devices (tablets, 750px to 1000px) */
@media (min-width: 750px) and (max-width: 1000px) {
  nav {
    margin-right: 0%;
  }

  /* Filtres */
  .div_filtre {
    flex-wrap: wrap;
    height: 100%;
  }

  .div_filtre div {
    margin: 1% 2%;
  }

  /* Herbergement & Populaire */
  .resultat {
    flex-direction: column-reverse;
  }

  .hebergement {
    width: 100%;
    padding-bottom: 0%;
  }

  .heb_grille {
    grid-gap: 0% 2%;
    grid-template-columns: repeat(2, minmax(100px, 50%));
  }

  .heb_carte {
    height: 90%;
  }

  .hebergement .affiche_plus {
    padding-top: 0%;
    position: relative;
    top: -15px;
  }

  .populaire {
    width: 100%;
    margin: 1% 0%;
    padding-bottom: 10%;
  }

  .pop_grille {
    grid-template-columns: repeat(1, minmax(100px, 100%));
  }

  .pop_carte {
    height: 180px;
  }

  /* Activités */

  .activites_grid {
    grid-gap: 0 2%;
    grid-template-columns: repeat(2, minmax(100px, 50%));
  }

  .image_1_hauteur {
    height: 160px;
  }
  .image_2_hauteur {
    height: 348px;
  }

  .image_1_hauteur img,
  .image_2_hauteur img {
    top: -40px;
  }

  .desc_activites {
    top: -45px;
    padding: 3% 5%;
    height: 20px;
  }
}

/* Small devices (landscape phones, 400px to 750px) */
@media (min-width: 400px) and (max-width: 750px) {
  /* Header */
  .topbar {
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    height: 120px;
    left: 0;
  }

  .logo_header {
    height: 40px;
    padding: 10px 20px;
  }

  .logo {
    margin: 0px;
  }

  nav {
    margin-right: 0%;
    width: 100%;
    height: 40px;
  }

  nav ul {
    width: 100%;
    height: 40px;
    margin: 0;
  }

  nav li {
    width: 50%;
    padding: 15px 0;
    border-bottom: 3px solid #f2f2f2;
    font-size: 16px;
    text-align: center;
  }

  nav li:hover {
    border-top: 0;
    border-bottom: 3px solid #0065fc;
  }

  .page_active {
    border-top: 0;
    border-bottom: 3px solid #0065fc;
  }

  .nav_inscrire {
    position: absolute;
    top: 5px;
    right: 25%;
    padding: 25px;
    border-bottom: 0;
    width: 0px;
  }

  .nav_inscrire:hover {
    border: 0;
  }
  /* Intro */

  .intro {
    margin-top: 125px;
  }

  .form_recherche {
    margin-left: auto;
    margin-right: auto;
  }

  /* Filtres */
  .div_filtre {
    flex-wrap: wrap;
    height: 100%;
  }

  .div_filtre div {
    margin: 1% 2%;
  }

  /* Herbergement & Populaire */
  .resultat {
    flex-direction: column-reverse;
  }

  h4 {
    padding: 20px 0 20px 30px;
  }

  .hebergement {
    width: 100%;
    padding-bottom: 0%;
    background: 0;
  }

  #hebergement:target {
    padding-top: 180px;
    margin-top: -180px;
  }

  .heb_grille {
    grid-gap: 0% 2%;
    grid-template-columns: repeat(1, minmax(100px, 100%));
  }

  .heb_carte {
    height: 90%;
    box-shadow: 0 3px 10px 1px #7e7e7e;
  }

  .hebergement .affiche_plus {
    padding-top: 0%;
    position: relative;
    top: -10px;
    padding: 5px 10px;
    font-size: 18px;
  }

  .populaire {
    width: 105%;
    margin: 4% -2.5%;
    padding-bottom: 15%;
  }

  .pop_grille {
    grid-template-columns: repeat(1, minmax(100px, 100%));
  }

  .pop_carte {
    height: 180px;
  }

  /* Activités */

  #activites:target {
    padding-top: 120px;
    margin-top: -120px;
  }

  .activites_grid {
    grid-gap: 2% 2%;
    grid-template-columns: repeat(1, minmax(100px, 100%));
    height: 100%;
  }

  .image_1_hauteur,
  .image_2_hauteur {
    height: 200px;
  }

  .image_1_hauteur img,
  .image_2_hauteur img {
    top: -25px;
  }

  .desc_activites {
    top: -45px;
    padding: 3% 5%;
    height: 20px;
  }

  /* Footer */

  footer {
    margin-top: 60px;
    padding: 20px 0px;
    grid-gap: 10%;
    grid-template-columns: repeat(1, minmax(100px, 100%));
    background-color: #f2f2f2;
    height: 400px;
  }

  footer div {
    width: 90%;
    padding: 1% 5%;
  }

  .footer_titre {
    padding-bottom: 5px;
    text-align: left;
  }
}

/* Small devices (phones, under 400px) */
@media (max-width: 400px) {
  /* Header */
  .topbar {
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    height: 120px;
    left: 0;
  }

  .logo_header {
    height: 40px;
    padding: 10px 20px;
  }

  .logo {
    margin: 0px;
  }

  nav {
    margin-right: 0%;
    width: 100%;
    height: 40px;
  }

  nav ul {
    width: 100%;
    height: 40px;
    margin: 0;
  }

  nav li {
    width: 50%;
    padding: 15px 0;
    border-bottom: 3px solid #f2f2f2;
    font-size: 16px;
    text-align: center;
  }

  nav li:hover {
    border-top: 0;
    border-bottom: 3px solid #0065fc;
  }

  .page_active {
    border-top: 0;
    border-bottom: 3px solid #0065fc;
  }

  .nav_inscrire {
    position: absolute;
    top: 5px;
    right: 25%;
    padding: 25px;
    border-bottom: 0;
    width: 0px;
  }

  .nav_inscrire:hover {
    border: 0;
  }

  /* Intro */

  .intro {
    margin-top: 125px;
  }

  .intro p {
    font-size: 14px;
  }

  .form_recherche {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .form_recherche i {
    font-size: 18px;
    height: 40px;
    margin-left: 2%;
    margin-right: 1%;
  }

  .form_recherche input {
    width: 66%;
    padding: 10px 0 10px 4%;
    font-size: 14px;
  }

  .form_recherche button {
    width: 20%;
    border-radius: 10px;
  }

  .form_recherche button span {
    display: none;
  }
  .fa-search {
    display: contents;
  }

  /* Filtres */

  .filtre {
    flex-direction: column;
  }
  .div_filtre {
    flex-wrap: wrap;
    height: 100%;
  }

  .div_filtre div {
    margin: 1% 1%;
  }

  .information_recherche i,
  .information_recherche p {
    font-size: 12px;
  }

  /* Herbergement & Populaire */
  .resultat {
    flex-direction: column-reverse;
  }

  h4 {
    padding: 20px 0 20px 20px;
    font-size: 20px;
  }

  .heb_titre,
  .pop_titre {
    font-size: 16px;
  }

  .heb_description_carte p,
  .pop_description_carte p {
    font-size: 14px;
  }

  .hebergement {
    width: 100%;
    padding-bottom: 0%;
    background: 0;
  }

  #hebergement:target {
    padding-top: 180px;
    margin-top: -180px;
  }

  .heb_grille {
    grid-gap: 2% 2%;
    grid-template-columns: repeat(1, minmax(100px, 100%));
  }

  .heb_carte {
    height: 90%;
    box-shadow: 0 3px 10px 1px #7e7e7e;
    height: 180px;
  }

  .heb_carte img {
    top: -75px;
  }

  .heb_description_carte {
    top: -155px;
    padding: 3% 0 4% 5%;
  }

  .heb_description_nuit {
    padding: 2.5% 0;
  }

  .hebergement .affiche_plus {
    padding-top: 0%;
    position: relative;
    margin-top: 45%;
    padding: 5px 10px;
    font-size: 18px;
  }

  .populaire {
    width: 105%;
    margin: 4% -2.5%;
    padding-bottom: 20%;
  }

  .pop_div i,
  .pop_div h4 {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .pop_grille {
    grid-template-columns: repeat(1, minmax(100px, 100%));
  }

  .pop_carte {
    height: 120px;
  }

  .populaire img {
    width: 40%;
  }

  .pop_description_carte {
    margin-left: 0%;
  }

  /* Activités */

  .activites {
    margin-top: 5px;
  }

  #activites:target {
    padding-top: 120px;
    margin-top: -120px;
  }

  .activites_grid {
    grid-gap: 2% 2%;
    grid-template-columns: repeat(1, minmax(100px, 100%));
    height: 100%;
  }

  .image_1_hauteur,
  .image_2_hauteur {
    height: 200px;
  }

  .image_1_hauteur img,
  .image_2_hauteur img {
    top: -25px;
  }

  .desc_activites {
    top: -45px;
    padding: 3% 5%;
    height: 20px;
  }

  /* Footer */

  footer {
    margin-top: 60px;
    padding: 20px 0px;
    grid-gap: 10%;
    grid-template-columns: repeat(1, minmax(100px, 100%));
    background-color: #f2f2f2;
    height: 400px;
  }

  footer div {
    width: 90%;
    padding: 1% 5%;
  }

  .footer_titre {
    padding-bottom: 5px;
    text-align: left;
  }
}
