/* ! Reset CSS !*/

html, body, div,
h1, h2, h3, h4, h5, h6,
p, a, img, i, ul, li,
form, label,
aside,footer, header,
menu, nav, section
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

aside, footer, header, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* ? End Reset Css */
/* Font Face */

@font-face {
    font-family: "Raleway";
    src: url("../font/Raleway-VariableFont_wght.ttf") format("truetype");
   }

   @font-face {
    font-family: "Raleway_2";
    src: url("../font/Raleway-Bold.ttf") format("truetype");
   }

/* Général */

body, p {
    font-family: "Raleway", serif;
}

.page{
	margin: 0% 2.5%;
}

/* Header (NavBar) */

.topbar{
    display: flex;
    flex-direction: row;
    top: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: white;
	z-index: 1000;
}

.logo_header
{
    width: 20%;
}
.logo{
    height: 50px;
    margin: 15px 15px 15px 0px;
}

nav {
    display: flex;
    justify-content: flex-end;

    width: 80%;
    margin-right: 5%;
}
nav ul 
{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    align-items: center;
}
nav li{
    padding: 29px 20px;
    color:black;
    font-size: 20px;
	border-top: 3px solid transparent;
}

li:hover
{
    color: #0065FC;
	border-top: 3px solid #0065FC;
	cursor: pointer;
}


.page_active {
	color: #0065FC;
	border-top: 3px solid #0065FC;
}

.nav_inscrire{
	color: #0065FC;
	font-family: "Raleway_2", serif;
}

/* Introduction */
h2{
	font-family: "Raleway_2", serif;
	padding: 10px 0px;
	font-size: 20px;
}

.intro {
	margin-top: 80px;
}

.intro p {
	font-size: 16px;
	font-weight: 500;
}

/* Formulaire recherche de ville */

.form_recherche{
	width: 380px;
	height: 40px;
	overflow: hidden;
	background-color: #F2F2F2;
	border: 1px solid #F2F2F2;
	border-radius: 10px;
	margin-top: 20px;
}

.form_recherche i{
	position: relative;
	font-size: 18px;

	height: 40px;
	margin-left: 16px;
	margin-right: 14px;
}

.input_recherche
{
	position: relative;
	width: 210px;
	height: 20px;
	border: 0;
	margin: 0;
	padding: 10px 0px 10px 20px;
	font-family: "Raleway_2", serif;
	color : black;
	outline-width: 0;
}

.input_recherche::placeholder
{
	font-family: "Raleway_2", serif;
	font-size: 16px;
	color : black;
}

.btn_recherche
{
	display: block;
	position: relative;
	float: right;
	width: 102px;
	height: 40px;
	font-size: 16px;
	color: white;
	background-color: #0065FC;
	border:0;
	outline-width: 0;
}

button {
	font-family: "Raleway_2", serif;
	font-size: 14px;
}

form button:active {
	border:0px;
	text-decoration: none;
}

/* Filtres de la recherche */

.filtre{
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

.filtre h3 {
	padding: 10px 20px 10px 0px;
	font-family: "Raleway_2", serif;
	font-size: 18px;
}

.form_filtre {
    display: flex;
    flex-direction: row;
	width: 100%;
	height: 40px;
}

.form_filtre div{
	display: flex;
	height: 40px;
	overflow: hidden;
	background-color: white;
	border: 2px solid #F2F2F2;
	border-radius: 30px;
	margin: 0px 15px;
}

.form_filtre .icon_filtre {
	position: relative;
	background-color: #DEEBFF;
	width: 40px;
	height: 40px;
	border-radius: 30px;
	align-self: center;
	align-items: center;
	margin: 0;
}

.form_filtre .icon_filtre i{
	position: absolute;
	color: #0065FC;
	width: 40px;
	text-align: center;
}

.form_filtre div button{
	position: relative;
	height: 40px;
	background-color: white;
	border: none;
	padding: 1px 10px;
	margin: 0;
	outline-width: 0;
}

/* Information */

.information_recherche{
	display: flex;
	flex-direction: row;
	margin-top: 15px;
}

.information_recherche i{
	background-color: white;
	color: #0065FC;
	font-size: 14px;
	border-radius: 30px;
	border: 1px solid #F2F2F2;
	text-align: center;
	padding: 5px 10px;
}

.information_recherche p{
	display: flex;
	font-size: 12px;
	margin-left: 10px;
	align-items: center;
}

/* Section Résultats */

h4{
	font-family: "Raleway_2", serif;
	font-size: 20px;
	padding: 25px 0 5px 40px
}

.Resultat{
	display: flex;
}

.Hebergement , .Populaire{
	background-color: #F2F2F2;
	margin: 1% 3% 1% 0%;
	border-radius: 20px;
}

.gras{
	font-family: "Raleway_2", serif;
}

.prix {
	padding-left: 5px;
}

.avis{
	font-size: 14px;
	color: #0065FC ;
}

.avis i {
	margin: 0% -0.5%;
}

.avis .gris {
	color: #F2F2F2;
}

/* Partie Hébergements */

.Hebergement {
	width: 75%;
}

.heb_titre , .pop_titre {
	font-size: 18px;
}

.heb_grille{
	display: grid;

	justify-items: center;
	grid-template-rows: auto;
	grid-gap: 0px 0%;
	grid-template-columns: repeat(3, minmax(100px, 33.3%));
}

.heb_carte{
	width: 350px;
	height: 250px;
	background-color: white;
	margin: 15px;
	border-radius: 15px;
	overflow: hidden;
}

.Hebergement .image{
	width: 340px;
	height: 250px;
	border-radius: 10px 10px 10px 10px;
	margin: 5px;
	overflow: hidden;
}

.image img{
	width: 340px;
	height: 300px;
	object-fit: cover;
	position: relative;
	top: -70px;
}

.heb_description_carte{
	background-color: white;
	display: block;
	position: relative;
	top: -100px;
	padding: 3% 0% 5% 5%;
	width: 350px;
}

.heb_description_nuit {
	display: flex;
	flex-direction: row;
	padding: 2% 0%;
}

.affiche_plus {
	padding: 25px 40px;
}

/* Partie Populaire */

.Populaire img{
	width: 200px;
	padding: 5px;
	border-radius: 15px 0px 0px 15px;
	z-index: 0;
	object-fit: cover;
}

.Populaire {
	width: 25%;
}

.pop_grille{
	display: grid;
	justify-items: center;
	grid-template-rows: auto;
	grid-gap: 4px 0%;
	grid-template-columns: repeat(1, minmax(100px, 100%));
}

.pop_carte{
	width: 90%;
	height: 160px;
	background-color: white;
	margin: 15px 0px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}

.pop_description_carte{
	background-color: white;
	display: block;
	position: relative;
	padding: 3% 0% 2% 5%;
	margin-left: -10%;
}

.pop_description_carte p{
	height: 40px;
}

.pop_description_nuit {
	display: flex;
	flex-direction: row;
	padding: 10px 0% 30px;
	height: 40px
}

.pop_avis{
	padding-top: 0px;
}

/* Partie Activités */
.activites {
	padding-top: 0;
}
.activites_flex {
	display: flex;
}

.act_image{
	width: 400px;
	height: 600px;
	margin: 0px 20px;
}

.image_1_hauteur{
	width: 400px;
	height: 235px;
	border: 1px solid #F2F2F2;
	border-radius: 10px;
	overflow: hidden;
	margin: 20px 0px 28px 0px;
}

.image_2_hauteur{
	width: 400px;
	height: 500px;
	border: 1px solid #F2F2F2;
	border-radius: 10px;
	overflow: hidden;
	margin: 20px;
}

.image_1_hauteur img{
	width: 400px;
	height: 250px;
	object-fit: cover;
	position: relative;
	top: -35px;
}

.image_2_hauteur img{
	width: 400px;
	height: 500px;
	object-fit: cover;
	position: relative;
	top: -45px;
}
.desc_activites {
	width: 400px;
	height: 40px;
	background-color: white;
	display: block;
	position: relative;
	padding: 15px 20px;
}

.image_2_hauteur .desc_activites {
	top: -55px;
}

.image_1_hauteur .desc_activites {
	top: -70px;
}

/* Footer */
footer{
	display: grid;

	justify-items: center;
	grid-template-rows: auto;
	grid-gap: 0px 0%;
	grid-template-columns: repeat(3, minmax(100px, 33.3%));
	padding: 40px 0px;
	background-color: #F2F2F2;
}

footer div
{
	display: flex;
	flex-direction: column;
}

footer a {
	text-decoration: none;
	color: black;
	padding-top: 15px;
}

.footer_titre {
	padding-bottom: 15px;
	font-size: 18px;
}